<!-- Navbar gris oscuro con texto blanco y íconos separados -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/logo.png" alt="Logo" style="width: 90px;" class="rounded-pill">
        </a>
        <ul class="navbar-nav ml-3">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="puntos">Puntos</a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <p style="color: white; margin-bottom: 0; margin-right: 15px;">Contáctanos para más promociones:</p>
        <a href="https://www.facebook.com/Madita.love" class="text-white mx-3" target="_blank">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="https://www.instagram.com" class="text-white mx-3" target="_blank">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://wa.me/0999419794" class="text-white mx-3" target="_blank">
          <i class="fab fa-whatsapp fa-lg"></i>
        </a>
        <a href="login" class="btn btn-success ml-3">Iniciar Sesión</a>
      </div>
    </div>
  </nav>
  